.wrap {
  background-color: white;
  width: 100%;
  height: 64px;
}

.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 40px;
}

.logo {
  width: 116px;
  height: 32px;
}

.search {
  position: relative;
  border: none;
  width: 615px;
  height: 40px;
  border-bottom: 2px solid #61a872;
}

.search:focus {
  outline: none;
}

.menu {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  justify-content: space-between;
  gap: 36px;

  padding: 0;
}

.item {
  display: flex;
  align-items: center;
}

.text {
  height: 19px;
  margin: 0;
}

/* 김효진 추가 */
.searchDropdown {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 615px;
  height: 163px;
  background-color: white;
  box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.25);

  top: calc(100% + 12px);
  right: 16px;
}
.searchInput {
  position: relative;
  outline: none;
  border: none;
  width: 615px;
  height: 40px;
  border-bottom: 2px solid #61a872;
}
