.wrap {
  width: 175px;
  height: 280px;
}

.photo {
  width: 175px;
  height: 175px;
  border-radius: 8px;
  background-color: #d9d9d9;
}

/* 김효진 추가함 */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  width: 175px;
  height: 19px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  color: #a4a4a4a4;
  margin-top: 14px;
}

.price {
  width: 175px;
  height: 19px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.time {
  width: 175px;
  height: 14px;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}
