.wrap {
  background-color: white;
  width: 100%;
}

.mainWrap {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto 90px;
}

.topAd {
  width: 1200px;
  margin-top: 67px;
}

.wrapAd {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ad {
  width: 380px;
  height: 299px;
  border-radius: 8px;
  background-color: #d9d9d9;
  background-size: cover;
  background-position: center;
}

.middleAd {
  width: 1200px;
  height: 136px;
  background-color: #d9d9d9;
  margin-top: 24px;
  background-size: cover;
  background-position: center;
}

.productsWrap {
  margin-top: 123px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.text {
  font-weight: 400;
  color: #929292;
  text-align: center;
  height: 19px;
  margin-right: 6px;
}

.wrapProducts {
  max-width: 1200px;
  min-width: 750px;
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

.subTitle {
  font-size: 16px;
  display: flex;
  align-items: flex-end; /* 세로 방향 아래로 정렬 */
  justify-content: flex-start; /* 가로 방향 왼쪽 정렬 */
  height: 100%;
  margin-left: 16px;
}
